<app-video-list
  [selectedVideo]="currentVideo"
  (select)="videoSelected($event)"
></app-video-list>
<app-video-player
  [video]="currentVideo"
></app-video-player>
<app-stat-filters></app-stat-filters>
